apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grpc-with-quarkus
  label:
    app: grpc-with-quarkus
spec:
  destination:
    name: in-cluster
    namespace: app-team-b
  source:
    path: kustomize/base/app
    repoURL: https://github.com/buuhsmead/grpc-with-quarkus.git
    targetRevision: HEAD
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
